---
import { Image } from "astro:assets";
import background from "../../assets/chaos-bg.webp";
import heroLogo from "../../assets/chaos-logo-large.png";
import * as commonStyles from "../../styles/utilities/common.css";
import { ResponsiveHeadline } from "../ResponsiveHeadline";
import * as styles from "./Hero.css";
---

<section id="hero" class={styles.hero}>
    <img
        id="background"
        class={styles.background}
        src={background.src}
        alt=""
        fetchpriority="high"
    />
    <div class={styles.heroContainer}>
        <ResponsiveHeadline size={3} as="h1" style={{ color: "white" }}>
            Chaos Softball San Diego
        </ResponsiveHeadline>
        <Image
            src={heroLogo}
            alt="Chaos Softball San Diego Logo"
            width={293}
            height={290}
            loading="eager"
            fetchpriority="high"
            class={commonStyles.image}
        />
    </div>
</section>
