---
import "../styles/global/global.css";
import "../styles/global/reset.css";
import "../styles/global/theme.css";

import { ResponsiveHeadline } from "../components/ResponsiveHeadline";
import { RichText } from "../components/RichText";
import Layout from "../layouts/Layout.astro";
import { contentfulClient } from "../services/contentful/contentful";
import * as styles from "../styles/utilities/common.css";
import type { TypePageSkeleton } from "../types/contentful";

const { slug = "" } = Astro.params;

const entry = await contentfulClient.getEntries<TypePageSkeleton>({
	content_type: "page",
	"fields.slug": slug,
	limit: 1,
	include: 3,
});

if (!slug || !entry.items || entry.items.length === 0) {
	Astro.response.status = 404;
	throw new Error("Not Found");
}

const pageContent = entry.items[0]?.fields || {};
---

<Layout
    title={`${pageContent.seoTitle} | Chaos Softball San Diego`}
    description={pageContent.seoDescription}
    noIndex={pageContent.noIndex}
>
    <div class={styles.subPageWrapper}>
        <ResponsiveHeadline size={1} as="h1">
            {pageContent.title}
        </ResponsiveHeadline>
        {pageContent.content && <RichText richText={pageContent.content} client:load/>}
    </div>
</Layout>
