---
export const prerender = true;

import "../styles/global/global.css";
import "../styles/global/reset.css";
import "../styles/global/theme.css";

import { ToastContainer } from "react-toastify";
import { BasicAccordion } from "~/components/Accordion";
import { FeaturedPhotos } from "~/components/FeaturedPhotos";
import { Form } from "~/components/Form";
import { Hero } from "~/components/Hero";
import { Link } from "~/components/Link";
import { ResponsiveHeadline } from "~/components/ResponsiveHeadline";
import { RichText } from "~/components/RichText";
import { Typography } from "~/components/Typography";
import Layout from "~/layouts/Layout.astro";
import { contentfulClient } from "~/services/contentful/contentful";
import { section } from "~/styles/utilities/common.css";
import type { TypePageSectionSkeleton } from "~/types/contentful";
import type { TypeList, TypeListSkeleton } from "~/types/contentful/TypeList";

const entryIntro = await contentfulClient.getEntries<TypePageSectionSkeleton>({
	content_type: "pageSection",
	"fields.title": "Home Section",
});

const entryContact = await contentfulClient.getEntries<TypePageSectionSkeleton>({
	content_type: "pageSection",
	"fields.title": "Contact Us Section",
});

const faqs = await contentfulClient.getEntries<TypeListSkeleton>({
	content_type: "list",
	"fields.title": "FAQs",
});
---

<Layout>
  <ToastContainer position="top-center" client:idle />
  <Hero />
  <section id="intro" class={`${section}`}>
    {
      entryIntro.items.map((item) => (
        <div>
          {item.fields.content && (
            <RichText richText={item.fields.content} client:visible />
          )}
        </div>
      ))
    }
  </section>
  <section id="faqs" class={`${section}`}>
    <ResponsiveHeadline size={2} as="h2">
      Frequently Asked Questions
    </ResponsiveHeadline>
    <BasicAccordion
      list={faqs.items[0] as TypeList<"WITHOUT_UNRESOLVABLE_LINKS">}
      client:visible
    />
  </section>
  <section id="contact" class={`${section}`}>
    {
      entryContact.items.map((item) => (
        <div>
          {item.fields.content && (
            <RichText richText={item.fields.content} client:visible />
          )}
        </div>
      ))
    }
    <Form client:idle />
  </section>
  <section id="featured" class={`${section}`}> 
    <ResponsiveHeadline size={2} as="h2"> Chaos in Action </ResponsiveHeadline>
    <Typography as="p" size="md">
      Photos by <Link href="https://www.gabybro.com/" target="_blank" rel="noopener noreferrer">Gaby Bro Photography</Link>
    </Typography>
    <FeaturedPhotos galleryName="Featured Photos" maxPhotos={12}  />
  </section>
</Layout>
