---
import { ToastContainer } from "react-toastify";
import { contentfulClient } from "~services/contentful/contentful";
import type { TypePageSectionSkeleton } from "~types/contentful";
import type { TypeListSkeleton } from "~types/contentful/TypeList";

import { contentPadding, pageMaxWidth } from "../styles/common.css";
import { BasicAccordion } from "./Accordion";
import { Form } from "./Form";
import { Hero } from "./Hero";
import { ResponsiveHeadline } from "./ResponsiveHeadline";
import { RichText } from "./RichText";

const entries = await contentfulClient.getEntries<TypePageSectionSkeleton>({
  content_type: "pageSection",
  "fields.title": "Home Section",
});

const faqs = await contentfulClient.getEntries<TypeListSkeleton>({
  content_type: "list",
  "fields.title": "FAQs",
});
---

<ToastContainer position="top-center" client:load />
<Hero />
<section id="intro" class={`${pageMaxWidth} ${contentPadding}`}>
  {
    entries.items.map((item) => (
      <div>
        {item.fields.content && (
          <RichText richText={item.fields.content} client:load />
        )}
      </div>
    ))
  }
</section>
<section id="form" class={`${pageMaxWidth} ${contentPadding}`}>
  <ResponsiveHeadline size={2} as="h2" style={{ marginBottom: "18px" }}>
    Contact Us
  </ResponsiveHeadline>
  <Form client:load />
</section>
<section id="faqs" class={`${pageMaxWidth} ${contentPadding}`}>
  <ResponsiveHeadline size={2} as="h2" style={{ marginBottom: "18px" }}>
    Faqs
  </ResponsiveHeadline>
  <BasicAccordion list={faqs.items[0]} client:load />
</section>
