---
import { Image } from "astro:assets";
import { server } from "~actions";
import logo from "../../assets/chaos-logo-small.png";
import * as commonStyles from "../../styles/utilities/common.css";
import { Banner } from "../Banner";
import { MainNav } from "../MainNav";
import * as styles from "./Header.css";
import { menuItems } from "./utils/headerItems";

const banners = await Astro.callAction(server.getHeaderBanners, null);

const { pathname } = Astro.url;
---

<a class={`sr-only ${styles.mainContentJumpLink}`} href="#main-content"
  >Jump to main content</a
>

{
  banners.data && (
    <Banner banner={banners.data} currentPath={pathname} client:load />
  )
}

<header class={styles.headerWrapper}>
  <div class={styles.header}>
    <div class={styles.logoWrapper}>
      <span class="sr-only">chaossoftballsd.org</span>
      <a href="/" aria-label="Home">
        <Image
          aria-hidden="true"
          src={logo}
          alt="Chaos Softball San Diego"
          width={75}
          height={81}
          loading="eager"
          fetchpriority="high"
          class={commonStyles.image}
        />
      </a>
    </div>
    <MainNav items={menuItems} currentPath={pathname} client:load />
  </div>
</header>
