---
import { Image } from "astro:assets";
import { server } from "~/actions";
import logo from "~/assets/chaos-logo-small.png";
import { Link } from "~/components/Link";
import { Banner } from "~/layouts/Banner";
import { MainNav } from "~/layouts/MainNav";
import { MobileNav } from "~/layouts/MobileNav";
import * as commonStyles from "~/styles/utilities/common.css";
import { contentfulClient } from "../../services/contentful/contentful";
import type { TypeListSkeleton } from "../../types/contentful/TypeList";
import * as styles from "./Header.css";

const banners = await Astro.callAction(server.getHeaderBanners, null);

const entry = await contentfulClient.getEntries<TypeListSkeleton>({
	content_type: "list",
	"fields.title": "Navigation",
	limit: 1,
});

const navEntry = entry.items[0];
function getLinkFields(obj: unknown): {
	label?: string;
	name?: string;
	ctaLink?: string;
	openInNewWindow?: boolean;
	type?: string | string[];
} {
	if (
		typeof obj === "object" &&
		obj !== null &&
		("label" in obj ||
			"name" in obj ||
			"ctaLink" in obj ||
			"openInNewWindow" in obj ||
			"type" in obj)
	) {
		return obj as {
			label?: string;
			name?: string;
			ctaLink?: string;
			openInNewWindow?: boolean;
			type?: string | string[];
		};
	}
	return {};
}

const items = navEntry
	? {
			label: navEntry.fields.title ?? "Navigation",
			menuItems: (navEntry.fields.type || [])
				.filter((link) => link && "fields" in link)
				.map((link) => {
					const fields = getLinkFields(link.fields);
					return {
						label: fields.label ?? fields.name ?? "",
						href: fields.ctaLink ?? undefined,
						target: fields.openInNewWindow ? "_blank" : undefined,
						links: [],
						type: fields.type ?? [],
					};
				}),
		}
	: { label: "", menuItems: [] };

const { pathname } = Astro.url;
---

<a class={`sr-only ${styles.mainContentJumpLink}`} href="#main-content"
  >Jump to main content</a
>

{
  banners.data && (
    <Banner banner={banners.data} currentPath={pathname} client:load />
  )
}

<header class={styles.headerWrapper}>
  <div class={styles.header}>
    <div class={styles.logoWrapper}>
      <span class="sr-only">chaossoftballsd.org</span>
      <Link href="/" aria-label="Home">
        <Image
          aria-hidden="true"
          src={logo}
          alt="Chaos Softball San Diego"
          width={75}
          height={81}
          loading="eager"
          fetchpriority="high"
          class={commonStyles.image}
        />
      </Link>
    </div>
    <MainNav items={items} currentPath={pathname} client:load />
    <MobileNav navItems={items} client:load />
  </div>
</header>
