---
import { Link } from "~/components/Link";
import { Typography } from "~/components/Typography";
import { contentfulClient } from "../../services/contentful/contentful";
import type { TypeLinkFields } from "../../types/contentful/TypeLink";

const currentDate = new Date();
const year = currentDate.getFullYear();

import type { TypeListSkeleton } from "../../types/contentful/TypeList";

const entry = await contentfulClient.getEntries<TypeListSkeleton>({
	content_type: "list",
	"fields.title": "Navigation",
	limit: 1,
});

import * as styles from "./Footer.css";
---

<footer class={styles.footerWrapper}>
    <nav aria-label="Footer Navigation">
        <ul class={styles.footerNav}>
            {
                entry.items[0]?.fields?.type?.map((linkEntry) => {
                    if (!linkEntry || !('fields' in linkEntry)) return null;
                    if (linkEntry.sys.contentType.sys.id !== 'link') return null;
                    const link = linkEntry.fields as TypeLinkFields;
                    const url: string = link.ctaLink ? String(link.ctaLink.valueOf()) : "#";
                    const label: string = link.label ? String(link.label.valueOf()) : (link.name ? String(link.name.valueOf()) : "Link");
                    const openInNewWindow: boolean = typeof link.openInNewWindow === "boolean" ? link.openInNewWindow : !!link.openInNewWindow?.valueOf();
                    return (
                        <li>
                            <Link
                                href={url}
                                target={openInNewWindow ? "_blank" : undefined}
                                rel={openInNewWindow ? "noopener noreferrer" : undefined}
                                className={styles.footerNavLink}
                            >
                                {label}
                            </Link>
                        </li>
                    );
                })
            }
        </ul>
    </nav>
    <Typography className={styles.footerCopyright}>
        &copy;{year} Chaos Softball SD. All rights reserved.</Typography
    >
</footer>
